body {
    background-color: #9B59B6; /* Цвет фона */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.game-container {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: #8E44AD; /* Основной цвет контейнера */
}

.score-container {
    font-size: 24px;
    color: white;
}

.restart-button {
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #FF5733; /* Цвет кнопки */
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.tile {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.tile-2 { background-color: #F9E79F; }
.tile-4 { background-color: #F7DC6F; }
.tile-8 { background-color: #F39C12; }
.tile-16 { background-color: #E67E22; }
.tile-32 { background-color: #D35400; }
.tile-64 { background-color: #C0392B; }
.tile-128 { background-color: #E74C3C; }
.tile-256 { background-color: #C0392B; }
.tile-512 { background-color: #A93226; }
.tile-1024 { background-color: #922B21; }
.tile-2048 { background-color: #641E16; }

.game-over {
    font-size: 24px;
    color: white;
    margin-top: 20px;
}

.hidden {
    display: none;
}
