body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faf8ef;
}

.game-container {
    position: relative;
    text-align: center;
}

.score-container {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.game-board {
    width: 90vw; /* 90% от ширины экрана */
    height: 90vw; /* 90% от ширины экрана для квадратной доски */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 auto;
    background-color: #bbada0;
    border-radius: 10px;
    padding: 10px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    height: calc(90vw / 4 - 10px); /* Динамическая высота для подгонки под экран */
    transition: background-color 0.3s, transform 0.2s;
}

.tile-2 { background-color: #eee4da; color: #776e65; }
.tile-4 { background-color: #ede0c8; color: #776e65; }
.tile-8 { background-color: #f2b179; }
.tile-16 { background-color: #f59563; }
.tile-32 { background-color: #f67c5f; }
.tile-64 { background-color: #f65e3b; }
.tile-128 { background-color: #edcf72; }
.tile-256 { background-color: #edcc61; }
.tile-512 { background-color: #edc850; }
.tile-1024 { background-color: #edc53f; }
.tile-2048 { background-color: #edc22e; }
